* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* Style the navigation bar */
.navbar {
    overflow: hidden;
    background-color: #eee;
}

/* Style the header link */
h1 {
    float: left;
    margin: 0;
    padding: 14px 16px;
    background-color: #ddd;
    color: black;
    display: block;
    text-align: center;
}

/* Style the unordered list */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-right: 150px;
}

/* Style the list items */
.navbar li {
    float: left;
    padding-right: 4px;
}

/* Style the anchor links */
.navbar a {
    display: block;
    color: black;
    padding: 22px 16px;
    text-decoration: none;
    background-color: #eee;
    font-weight: bold;
}

/* Change color on hover */
.navbar a:hover {
    background-color: black;
    color: #eee;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}