:root {
    --main-color: #007bff;
    --secondary-color: #2c4755;
    --section-background: #f6f6f6;
    --section-padding: 60px;
}

* {
    box-sizing: border-box;
}
/* General Styling */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

/* Navbar */
.navbar {
    background-color: #f5f5f5;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 110px;
    position: relative;
}

.nav-links li {
    margin-right: 20px;
    /* position: relative; */
}

/* .nav-links li::after {
    content: "";
    position: absolute;
    right: -8px;
    height: 24px;
    width: 1px;
    background-color: gray;
    transform: translateY(-8%);
    -webkit-transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    -ms-transform: translateY(-8%);
    -o-transform: translateY(-8%);
} */

.nav-links a {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.nav-links a:hover {
    color: var(--main-color);
    background-color: #EEE;
}

.navbar .social {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-right: 30px;
}

.navbar .social i {
    margin-left: 25px;
    font-size: 21px;
}

.navbar .social .face {
    color: #1877f2;
}

.navbar .social .twitter {
    color: #1da1f2;
}

.navbar .social .insta {
    color: #fd1d1d;
}

.navbar .social .linked {
    color: #0a66c2;
}

/* header */
header {
    background-color: #eee;
    color: var(--secondary-color);
    padding: 10px;
    text-align: center;
}



























/* footer */
.footer {
    color: white;
    background-color: var(--secondary-color);
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}